@import "tailwindcss";

@theme {
  --color-solar-orange: #FF6B00;
  --color-solar-orange-hover: #E65A00;
  --color-dark-grey: #1F2937;
  --color-dark-grey-lighter: #374151;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #F9FAFB; /* Gray 50 */
  --foreground: #111827; /* Gray 900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
